{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content%}

<h1> This is Login page </h1>

{% if boolean == True %} Yes it True {% else %} No it's not True {% endif %}
<form method = "POST">
    <h3 align ="center"> Login </h3>
    <div class = "form-group">
        <label for="email"> Email Adress</label>
        <input 
        type="email" 
        class="form-control" 
        id="email" 
        name="email" 
        placeholder="Enter email"
        />
    </div>
    <div class = "form-group">
        <label for="password"> Passoword</label>
        <input 
        type="password" 
        class="form-control" 
        id="password" 
        name="password" 
        placeholder="Enter password"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary"> Login </button>
</form>
{% endblock %}